@import "tailwindcss";
@import "@nuxt/ui";
@import "./article-body.css";

@theme static {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;

  --color-primary: #22c55e;
}

textarea {
  resize: none;
}

button {
  cursor: pointer
}